@model GivingActually_May.Models.CampaignsListViewModel
@{
    ViewBag.Title = "All Campaigns";
}
<div class="container" style="padding-top:2em;">

    <ul class="nav nav-tabs">
        <li><a href="/User/Index">My Campaigns</a></li>
        <li class="active"><a href="#">Trending Campaigns</a></li>
        <li><a href="/User/AddNewCampaign">Create Campaign</a></li>

    </ul>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                THE TRENDING CAMPAIGNS
            </h1>
            @*<ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Home", "Index", "User")
                    </li>
                    <li class="active">Just click to donate the most suited Campaigns!!</li>
                </ol>*@
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="form-group text-center capaign_card">
            @Html.LabelFor(model => model.CategoryType, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.CategoryType, Model.SelectedOptionsList, "Select", new { @class = "form-control", onChange = "OnTypeChanged(this)" })
            </div>
        </div>
        <div id="CampaignViewList">
            @{
                Html.RenderPartial("_CampaignListView", Model);
            }
        </div>




    </div>

    <div class="row text-center">
        <div class="col-lg-12">
            <div id="Campaignpager">
                @{
                    Html.RenderPartial("_pager", Model);
                }
            </div>

            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
        </div>
    </div>
</div>
<div id='loader' style='display: none;'><img src="~/Images/spinner.gif" /></div>
<script>
    function OnTypeChanged(_this) {

        var selectedValue = $(_this).val();
        window.location.href = '/User/AllCampaigns/?Category=' + selectedValue;// $("#SelectedOptions").val();
    }
    document.addEventListener("DOMContentLoaded", function () {
        let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
        let active = false;

        const lazyLoad = function () {
            if (active === false) {
                active = true;

                setTimeout(function () {
                    lazyImages.forEach(function (lazyImage) {
                        if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                            lazyImage.src = lazyImage.dataset.src;
                            lazyImage.classList.remove("lazy");

                            lazyImages = lazyImages.filter(function (image) {
                                return image !== lazyImage;
                            });

                            if (lazyImages.length === 0) {
                                document.removeEventListener("scroll", lazyLoad);
                                document.removeEventListener("mousemove", lazyLoad);
                                window.removeEventListener("resize", lazyLoad);
                                window.removeEventListener("orientationchange", lazyLoad);
                            }
                        }
                    });

                    active = false;
                }, 20);
            }
        };

        document.addEventListener("scroll", lazyLoad);
        document.addEventListener("mousemove", lazyLoad);
        window.addEventListener("resize", lazyLoad);
        window.addEventListener("orientationchange", lazyLoad);
    });
    function PagerClick(index) {


        $.ajax({
            type: 'POST',
            url: "/User/AllCampaignsPartial",
            data: { 'Category': -1, 'page': index },
            cache: false,
            beforeSend: function () {
                $('#loader').show();
            },

            complete: function () {
                $('#loader').hide();
            },
            success: function (response) {
                $("#CampaignViewList").html(response);
                document.getElementById("CategoryType").focus();
                document.getElementById("loader").style.display = "none";
            }
        });
    }
</script>