@model GivingActually_May.Models.CampaignMainViewModel
<style>
</style>
<div class="row">
    <div class="col-md-12  col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Top Donors
                </div>
                <div class="panel-body">

                    <hr />
                    <ul class="media-list">
                        @if (Model.CampaignDonationList.Any())
                        {
                            foreach (var item in Model.CampaignDonationList)
                            {


                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="~/Images/avator.png" alt="" style="height:30px;width:30px " class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <span class="date sub-text">on @item.DonatedOn.ToShortDateString()</span>
                                        </span>
                                        <strong class="text-success">
                                            @if (@item.isAnanymous)
                                            {
                                                <b>Ananymous</b>
                                            }
                                            else
                                            {@item.DonatedBy}
                                        </strong>

                                        <p class="text-center">@Model.CurrencyCode @item.DonationAmnt</p>

                                    </div>
                                </li>
                            }
                        }

                    </ul>

                </div>
            </div>
        </div>
    </div>


</div>
