@model GivingActually_May.Models.CampaignMainViewModel
<style>
</style>


@*<div class="col-md-12">

        <p><span class="glyphicon glyphicon-share"> Shares<sup>@Model.RaisedBy</sup></span></p>
    </div>*@

<div class="text-center">
    <a><bold>@Model.RaisedBy</bold></a>
    <h5 class="counter-title">Shares</h5>
   
</div>
