@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GivingActually<br />
    info- info<br />
    <abbr title="Phone">P:</abbr>
    00000000
</address>

<address>
    <strong>Support:</strong>   <a href="">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@example.com</a>
</address>