
@{
    ViewBag.Title = "How GivingActually Works?";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<div class="panel panel-body">
    <div class="jumbotron1 jumbotron1">
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <h3>See how Giving Actually works.</h3>
                <ul>
                    <li>
                        Sign up,It's free and only takes a few minutes.
                    </li>
                    <li>
                        Start a Campaign by specifying the beneficiary Details.
                    </li>
                    <li>
                        Receive donations from people across the world.
                    </li>
                    <li>
                        Transfer funds to the hospital or to your bank account Directly.
                    </li>
                </ul>
            </div>
            <div class="col-md-8" >
                <video width="400" height="400" controls class="vid_jum" >
                    <source src="~/Videos/Test.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

